*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post{
    width: 28%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
    padding: 2rem;
}

.post-title{
    font-size: 3rem;
    line-height: 2;
}

.post-content{
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.post-delete{
    background-color: brown;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    color: #fff;
}