*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post{
    width: 28%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
    padding: 2rem;
}

.post-title{
    font-size: 1.8rem;
}

.post-content{
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.post-delete{
    background-color: brown;
    border: none;
    border-radius: .5rem;
    padding: .6rem 1.5rem;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.post-update{
    background-color: rgb(49, 59, 190);
    border: none;
    border-radius: .5rem;
    padding: .6rem 1.5rem;
    color: #fff;
    cursor: pointer;
}

button{
    outline: none;
}

button:hover{
    background-color: rgba(0, 0, 0, .6);
}

/* *********************************************** */
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

.sect-container {
    background-image: url(../img/3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.content, .comment-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 5rem;
}

.content p{
    font-size: 1.2rem;
    line-height: 2;
    text-align: justify;
}

.content button{
    border: none;
    background-color: #000;
    color: #fff;
    outline: none;
    padding: 1rem 2rem;
    margin: 1.6rem 0 0;
    border-radius: .6rem;
    cursor: pointer;
    box-shadow: 1px 2px 4px #c4c4c4;
}
.content button:hover{
    transform: translateY(-1px);
}

.active-blur{
    filter: blur(3rem);
    user-select: none;
}

/* comment part */
.comment-form{
    background-color: rgba(0, 0, 0, 0.24);
    padding: 5rem;
    width: 40%;
    visibility: hidden;
}

.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input>label{
    font-size: 1.8rem;
    line-height: 1.5;
}

.input-name>input, .input-comment>textarea{
    font-size: 1.5rem;
    padding: 1rem .4rem;
    outline: none;
    border: none;
    border-radius: .6rem;
    font-family: sans-serif;
}

.input-btn>button{
    border: none;
    background-color: rgb(66, 69, 228);
    color: #fff;
    outline: none;
    padding: 1.2rem 2rem;
    margin: 1.6rem 0 0;
    border-radius: .6rem;
    cursor: pointer;
    box-shadow: 1px 2px 4px #c4c4c4;
    width: 100%;
    font-size: 1.8rem;
}

.input-btn>button:hover{
    background-color: rgb(66, 69, 228,.8);
}

.comment-error{
    background-color: brown;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin: 1.6rem 0;
    padding: 1rem 0;
    border-radius: .6rem;
    display: none;
}

.comment-success{
    display: block;
    background-color: rgb(42, 165, 93);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin: 1.6rem 0;
    padding: 1rem 0;
    border-radius: .6rem;
    display: none;   
}

.active-comment{
    visibility: visible;
    user-select: none;
    opacity: 1;
    transition: 0.5s;
}

.closeBtn{
    font-size: 2.5rem;
    color: rgb(116, 8, 8);
    margin: 1.5rem 0;
    cursor: pointer;
    text-align: right;
}

